template(name="layout")
    <!--[if lt IE 7]>
    p.browsehappy
      | You are using an <strong>outdated</strong> browser.
      | Please <a href="http://browsehappy.com/">upgrade your browser</a>
      | to improve your experience.
    <![endif]-->
    div.wrapper
        div.logo
        div.slogan The fastest way to evaluate your currencies
        {{> news}}
        {{> tour}}
        div.coming_soon Coming Soon!
