template(name="layout")
    <!--[if lt IE 7]>
    p.browsehappy
      | You are using an <strong>outdated</strong> browser.
      | Please <a href="http://browsehappy.com/">upgrade your browser</a>
      | to improve your experience.
    <![endif]-->
    {{> navigation}}
    div.wrapper
        #start.logo
        div.slogan Free Open-source multi-address multi-currency Portfolio
        div.coming_soon
            | Check out the 
            a(href="http://alpha.coinsmanager.com") alpha version
        {{> subscribe}}
        {{> news}}
        {{> tour}}
        {{> footer}}
