head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title CoinsManager

body
    <!--[if lt IE 7]>
    p.browsehappy
      | You are using an <strong>outdated</strong> browser.
      | Please <a href="http://browsehappy.com/">upgrade your browser</a>
      | to improve your experience.
    <![endif]-->
    {{>meteorErrors}}
    {{loginButtons}}
    nav.top_menu
      | Lorem ipsum dolor
    div.top_wealth
      | Lorem
