template(name="addressItem")
    div.address
        span.tip You can click on icons below
        div.func_panel
            i.fa.fa-copy.copy(data-clipboard-text="{{address}}")
        header
            h3.address_title
                span.coin_code
                    {{name}}:
                span.coin_address
                    {{address}}
        {{#ifNumber get_balance}}
        div.coin_balance
            span.coin_name {{get_balance}}
            {{#if code}}
            span.coin_code {{code}}
            {{/if}}
        {{else}}
        div.coin_balance.unavailable
            | Coin balance: Unavailable
        {{/ifNumber}}
        {{#if get_value}}
        div.fiat_balance
            span.fiat_name USD
            span.fiat_value {{get_value}}
        {{else}}
        div.fiat_balance.unavailable
            | Fiat balance: Unavailable
        {{/if}}
