template(name="addressItem")
    div.address
        span.tip Clickable action icons below
        span.coin_name {{name}}
        div.func_panel
            span.left
                i.fa.fa-copy.copy(data-clipboard-text="{{address}}")
                i.fa.fa-font.show_address(data-address-text="{{address}}")
            span.right
                i.fa.fa-times-circle.remove
        header
            h3.address_title
                span.coin_address
                    {{truncateMiddle address 16}}
        {{#ifNumber getBalance}}
        div.coin_balance
            {{#if code}}
            span.coin_code {{code}}
            {{/if}}
            span.coin_value {{getBalance}}
        {{else}}
        div.coin_balance.unavailable
            {{#if code}}
            span.coin_code {{code}}
            {{/if}}
            span.coin_value Unavailable
        {{/ifNumber}}
        {{#if getValue}}
        div.fiat_balance
            span.fiat_name {{userFiat}}
            span.fiat_value {{getValue}}
        {{else}}
        div.fiat_balance.unavailable
        {{/if}}

    //- div.additional_info(class="{{#unless hash_algo}}is_empty{{/unless}}")
    //-     {{#unless hash_algo}}
    //-     | No specifications for this coin. Please request it
    //-     | <a href="https://trello.com/c/p7U95R2D">here</a>
    //-     {{/unless}}
    //-     div.logo
    //-         // Get logo from public/img/coins_logo
    //-     p.coin_name {{name}}
    //-     {{#if total_coin}}
    //-     p
    //-         span.title Total Coins:
    //-         {{total_coin}}
    //-     {{/if}}
    //-     {{#if hash_algo}}
    //-     p
    //-         span.title Hash algorithm:
    //-         {{hash_algo}}
    //-     {{/if}}
    //-     {{#if protocol}}
    //-     p
    //-         span.title protocol:
    //-         {{protocol}}
    //-     {{/if}}
    //-     {{#if foundation_msg}}
    //-     div.message
    //-         span.title Foundation message:
    //-         {{foundation_msg}}
    //-     {{/if}}
