template(name="userAddresses")
    h1.addresses_title Your addresses
    div.total_asset
        {{# with userAddresses}}
        {{> totalAsset}}
        {{/with}}
    div.addresses
        {{#isolate}}
        {{#each sortAddresses userAddresses}}
            {{> addressItem}}
        {{/each}}
        {{/isolate}}

        {{#if showCoinForm}}
            {{> addAddress}}
        {{else}}
            {{> emptyForm}}
        {{/if}}
