template(name="addressItem")
    div.address
        header 
            h3 {{code}}
        div.coin_address {{address}}
        {{#if get_balance}}
        div.coin_balance
            span.coin_value
                {{get_balance}}
            span.coin_name
                {{#if name}}                
                    {{name}}
                {{else}}
                    {{code}}
                {{/if}} 
        {{else}}
        div.coin_balance.unavailable
            | Unavailable
        {{/if}}
        {{#if get_value}}
        div.fiat_balance
            span.fiat_name
                | USD
            span.fiat_value
                {{get_value}}
        {{else}}
        div.fiat_balance.unavailable
            | Unavailable
        {{/if}}
