template(name="coinsManager")
    div.pre_version
        | This is the 
        a(href="http://www.coinsmanager.com/") CoinsManager
        |  beta release page. It is updated every time a new commit is added to
        | the project. Give us 
        a(href="https://trello.com/c/p7U95R2D/22-online-visitors-your-suggestions")
            | some feedback
        |  or 
        a(href="https://github.com/CoinsManager/CoinsManager/issues")
            | report bugs
        |  if you find any!
    div#donation_block
        h1.addresses_title CoinsManager donation addresses
            i.fa.fa-times#close_donation
        div.mascot_area
            div.owl.icon-owl_abacus
            div.normal_bubble
                {{# with donationAddresses}}
                | Thanks for your support! So far, CoinsManager has received 
                span.total {{> totalAssetSelect}} 
                | in kind donations from our users, helping to keep this
                | service in operation. Thanks a bunch.
                {{/with}}
        div.received
        div.addresses
            {{#isolate}}
            {{#each sortAddresses donationAddresses}}
                {{> addressItem}}
            {{/each}}
            {{/isolate}}
