template(name="fetchAddresses")
    form.fetchAddresses.is_active
        div.icon_block
            i.fa.fa-times-circle#close
        div.help
            This feature allows you to get all public addresses from your
            online wallets.
        div.control-group
            label.control-label(for="name") Select online wallet
            div.controls
                select(name="name")
                    option(value="test") Test
                    option(value="test2") Test2
                    option(value="test3") Test3

