template(name="fetchAddresses")
    form.fetchAddresses.is_active
        div.icon_block
            i.fa.fa-times-circle#close
        div.help
            This feature allows you to get all public addresses from your
            online wallets.
            hr

        div.control-group
            label.control-label(for="name") Select online wallet
            div.controls
                select(name="name")
                    option(value="kraken") Kraken
                    option(value="coinbase") Coinbase
        div.control-group
            div.controls
                input.btn.btn-primary(type="submit", value="Ok")
