template(name="pageFooter")
    footer.page_footer
        div.logo
        div.footer_text
            div.text_line
                | The fastest way to evaluate your currencies! Want to
                | support us? 
                a#donate_link(href="#") Donate!
