template(name="mainLayout")
    {{yield}}
    {{> pageHeader}}
    {{#if showDonationAddresses}}
        {{> coinsManager}}
    {{/if}}
    {{#if loggedIn}}
        {{> userAddresses}}
    {{/if}}

    {{#if errors.count}}
    div.errors_list
        h2.title Errors
        {{> meteorErrors}}
    {{/if}}
    {{> pageFooter}}
