template(name="alphaLayout")
    {{yield}}
    {{> coinsManager}}
    // TODO: Add condition if Meteor.user is loaded
    {{#if loggedIn}}
    {{> userAddresses}}
    {{/if}}
    {{#if errors.count}}
    div.errors_list
        h2.title Errors
        {{> meteorErrors}}
    {{/if}}
    {{> pageFooter}}
