template(name="addressItem")
    div.address
        div.address-content
            h3
                Test {{crypto}}
            div.address
                {{address}}
            b Nb of coins:&nbsp;
            span(id="{{address}}")
                | {{check_bitcoin address}}
