template(name="addressItem")
    div.address
        div.address-content
            h3
                Test {{crypto}}
            div.address
                {{address}}
            div.nb_coins
                {{nb_coins address}}
