template(name="addressItem")
    div.address
        div.address-content
            h3
                {{crypto}}
            div.address
                {{address}}
            {{get_balance crypto address}}
            div.balance
                b Nb of coins:&nbsp;
                span(class="{{address}}")
            div.value
                b Asset value:&nbsp;
                span(class="{{address}}")
