template(name="addressItem")
    div.address
        div.address-content
            h3 {{code}}
            div.address {{address}}
            div.balance
                b Nb of coins:
                div {{get_balance}}
            div.value
                b Asset value:
                div {{get_value}}
