template(name="addressItem")
    div.address
        div.address-content
            h3
                {{crypto}}
            div.address
                {{address}}
            b Nb of coins:&nbsp;
            span(id="{{address}}")
                | {{get_coin_balance crypto address}}
