template(name="alpha")
    {{loginButtons}}
    div.wrapper.left
        {{> coinsList}}
    div.wrapper.left
        {{> exchangesList}}
    div.wrapper.left
        {{> fiatsList}}
    div.wrapper.left
        {{> coinsManager}}
