template(name="donate")
    section.donate
        header
            h1 Donations
        div.content
            .bitcoin-line
                .bitcoin
                | 1CoinsMPAy5Mz5SVzeAmU6qNmUThiLXYv1

