template(name="footer")
    footer
        | Read the <a href="http://www.cryptocoinsnews.com/bitcoin-news/">Bitcoin news</a>
        | that's relevant at <a href="http://cryptocoinsnews.com/">CryptoCoinsNews.com</a>

