template(name="navigation")
    nav.main-menu
        ul
            li.is-active(data-link="#start") Start
            li(data-link="#newsletter") Subscribe Now
            li(data-link="#follow") Follow Us
            li(data-link="#news") News
            li(data-link="#about") About Us
