template(name="news")
    section.news#news
        header
            h1 News
        div.content
            a.twitter-timeline(href="https://twitter.com/CoinsManager" data-widget-id="415545272823848960" data-chrome="noscrollbar transparent") Tweets by @CoinsManager
