template(name="newsletter")
    iframe.subscribe(src="https://madmimi.com/signups/98001/iframe",
           scrolling="no",
           frameborder="0",
           height="314",
           width="400")
