template(name="subscribe")
    {{> newsletter_without_iframe }}
    section.subscribe#follow
        header
            h1 Follow us
        div.content
            a(href="https://twitter.com/intent/follow?screen_name=CoinsManager")
                i(class="fa fa-twitter")
            a(href="https://github.com/CoinsManager/CoinsManager")
                i(class="fa fa-github")
