template(name="subscribe")
    {{> newsletter }}
    section.subscribe#follow
        header
            h1 Follow us
        div.content
            a(href="https://twitter.com/intent/follow?screen_name=CoinsManager")
                i.fa.fa-twitter
            a(href="https://github.com/CoinsManager/CoinsManager")
                i.fa.fa-github
            a(href="https://trello.com/b/4ECtz15o/coinsmanager-public")
                i.fa.fa-trello
        div.content.mini
            a(href=" https://www.facebook.com/coinsmanager")
                i.fa.fa-facebook-square
            a(href="https://plus.google.com/u/0/b/110567835852092960784/dashboard/overview")
                i.fa.fa-google-plus-square
