template(name="subscribe")
    section.subscribe
        {{> newsletter }}
        header
            h1 Follow us
        div.content
            a(href="https://twitter.com/intent/follow?screen_name=CoinsManager")
                i(class="fa fa-twitter")
            a(href="https://github.com/CoinsManager/CoinsManager")
                i(class="fa fa-github")
