template(name="tour")
    div.tour#about
        section#open
            header
                i.fa.fa-users
                h1 Open Source
            article
                | Completely transparent, encouraging contribution. This project
                | will be community-driven, and new features will be added by
                | popularity.
            div.subnavigation.solo
                i.fa.fa-chevron-down(data-link="#free")
        section#free
            header
                i.fa.fa-dollar
                h1 Free
            article
                | It is, and will always be, completely free !
                | Donations are appreciated to support the project.
            div.subnavigation
                i.fa.fa-chevron-up(data-link="#open")
                i.fa.fa-chevron-down(data-link="#easy")
        section#easy
            header
                i.fa.fa-gavel
                h1 Easy to use
            article
                | Simply add your public addresses and you're good to go! Your
                | coins will be automatically found for you, and the service
                | will tell you the profit/losses per coin you own as well as a
                | total estimation of your wealth.
            div.subnavigation
                i.fa.fa-chevron-up(data-link="#free")
                i.fa.fa-chevron-down(data-link="#fast")
        section#fast
            header
                i.fa.fa-flash
                h1 Fast
            article
                | We are using cutting-edge technologies to give the best
                | browsing experience. Your browser page will automatically
                | update itself, no more ctrl-R required to refresh the page !
            div.subnavigation
                i.fa.fa-chevron-up(data-link="#easy")
                i.fa.fa-chevron-down(data-link="#beautiful")
        section#beautiful
            header
                i.fa.fa-magic
                h1 Beautiful interface
            article
                | We have an awesome designer in the team, who has committed to
                | building a magnificent interface that should delight our users !
            div.subnavigation
                i.fa.fa-chevron-up(data-link="#fast")
                i.fa.fa-chevron-down(data-link="#secure")
        section#secure
            header
                i.fa.fa-laptop
                h1 Secure
            article
                | We will never ask you for personal or sensitive data, so
                | you'll never have to worry about the safety of this website.
                | We'll also be working hard on keeping this website very
                | secure, for future feature enhancements (eg gamification).
            div.subnavigation
                i.fa.fa-chevron-up(data-link="#beautiful")
                i.fa.fa-chevron-down(data-link="#donate")
        section#donate
            header
                i.fa.fa-bitcoin
                h1 Donations
            article
                | Do you like our project ? Want to participate but do not have
                | time to contribute ? Feel free to make a donation&nbsp;
                i.fa.fa-smile-o
                | 1CoinsMPAy5Mz5SVzeAmU6qNmUThiLXYv1
            div.subnavigation.solo
                i.fa.fa-chevron-up(data-link="#secure")
